@import 'tailwindcss';
@plugin "daisyui";
@import 'aos/dist/aos.css';
@import 'tw-animate-css';
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Geist:wght@100..900&family=Hind+Madurai:wght@300;400;500;600;700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tiro+Bangla:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@custom-variant dark (&:is(.dark *));
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  /color-scheme: light;

  /* --color-base-100: oklch(98% 0.02 240); */
  --color-base-200: #ffffff;
  --color-base-300: 374151;
  /* --color-base-content: oklch(20% 0.05 240); */
  --color-primary: #059669;
  /* --color-primary-content: oklch(98% 0.01 240); */
  --color-secondary: #1f2937;
  --color-secondary-content: #047857;
  --color-accent: #059669;
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: #211832;
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: #047857;
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'homenestDark';
  default: true;
  prefersdark: false;
  /color-scheme: light;

  --color-base-100: #131b1e;
  --color-base-200: #111827;
  --color-base-300: #e0d9d9;
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: #009688;
  --color-primary-content: #1d262b;
  --color-secondary: #e5e7eb;
  --color-secondary-content: #e5e7eb;
  --color-neutral: #e5e7eb;
  --color-success: #047857;
}

[data-theme='homenestDark'] {
  .card-content {
    background-color: #12123d;
  }
}

[data-theme='light'] {
  .card-content {
    background-color: #ffffff;
  }
}

.bg-light-realestate {
  background-color: #f0fff4;
}

.main-heading {
  @apply text-3xl font-extrabold text-gray-800 md:text-4xl;
}
.heading-lg {
  @apply text-4xl md:text-5xl font-extrabold text-secondary text-center mb-4;
}
.input-field {
  @apply input border-gray-200 text-neutral w-full focus:border-primary focus:ring-primary;
}
