@import 'tailwindcss';
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Geist:wght@100..900&family=Hind+Madurai:wght@300;400;500;600;700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tiro+Bangla:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'aos/dist/aos.css';
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #059669;
  --color-secondary: #047857;
  --color-base-100: #f7f7f7;
  --color-accent: #d8f3dc;
  --color-success: #36d399;
}

/* :root {
  --p: #059669;
  --pf: #047857;
  --pc: #d1fae5;
  --b1: #ffffff;
  --bc: #374151;
} */

:root {
  --color-primary: #059669;
  --color-secondary: #047857;
  --color-accent: #d8f3dc;
  --color-background: #f0fff4;
}

.bg-light-realestate {
  background-color: #f0fff4;
}

.main-heading {
  @apply text-4xl md:text-5xl font-extrabold text-gray-800 text-center mb-4;
}
